/* CSS Reset */
body, h1, h2, h3, p, ul, li, form, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #f7f7f7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Define the team's primary colors */
.gold {
  color: #D4AF37;
}

.azure-blue {
  color: #007fff;
}

.silver {
  color: #E5E4E2;
}


h1 {
  font-size: 24px;
  font-weight: bold;
  color: #007fff;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}


.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffd700;
  color: #333333;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #c0c0c0;
  color: #333333;
}



:root {
  --primary-color: #D4AF37; /* Gold */
  --secondary-color: #0080ff; /* Azure Blue */
  --tertriary-color:#E5E4E2; /* platinum*/
}

body {
  background-color: #f2f2f2;
}




.nav li {
  margin-right: 10px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}


.nav {
  background-color: var(--primary-color);
  padding: 10px;
  display: flex;
}



.nav a.active {
  color: var(--tertriary-color);
}
nav ul {
  background-color: var(--primary-color);
  margin: 0 !important;
  padding-inline-start: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

nav li {
  display: inline-block;
  margin: 0.5%;
  flex: 1;
  max-width: 33%; /* Each item takes up at most one-third of the width */
}

nav a {
  text-decoration: none;
  font-size: larger;
  color: var(--secondary-color);
}




.gold {
  color: var(--primary-color); 
  font-size:40px;
  text-align: center;
}
.gold2 {
  color: var(--primary-color); 
  font-size:36px;
  text-align: center;
}
.gold3 {
  color: var(--primary-color); 
  font-size:24px;
  
}
.blu2 {
  color: var(--secondary-color); 
  font-size:32px;
  text-align: center;
}
.blu3 {
  color: var(--secondary-color); 
  font-size:36px;
  text-align: center;
}
.truegold {
  color: #D4AF37; /* Gold */
  font-size:36px;
  text-align: center;
}
.truegold1 {
  color: #D4AF37; /* Gold */
  font-size:50px;
  text-align: center;
}
.tert2 {
  color: var(--tertriary-color); /* Gold */
  font-size:12;
  text-align: center;
}
.azure-blue {
  color: var(--secondary-color); /* Azure Blue */
}
.stadium-info {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the content */
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: var(--primary-color);
  color: var(--secondary-color)
}

.stadium-details {
  margin-bottom: 20px;
}

.stadium-details h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--secondary-color)
}

.stadium-details p {
  margin: 5px 0;
  font-size: 16px;
  color: var(--secondary-color)
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; /* Add spacing above the title */
}

.page-content-hons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--background-color);
}
.hons-section {
  flex: 0 0 calc(33.33% - 20px);  /* Flexbox properties to make each award section equal width */
  background-color: #f9f9f9;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  max-width: 400px;
  min-width: 250px;
  margin: 5px; /* Add margin to create space between sections */
  
}

.hons-section h2 {
  color: var(--primary-color); /* Primary color for award section titles */
  margin-bottom: 10px;
}

.hons-section p {
  margin: 5px;
  color: var(--tertriary-color);
}

.full-height-bg {
  background-image: url('./IMG_5817.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.page-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--background-color);
}



.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.azure-blue {
  color: var(--secondary-color); /* Azure Blue */
}

.player-profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  flex: 0 0 calc(33.33% - 20px);
}
.hons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  min-width: 300px;
}

.player-profile {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 300px;
  min-width: 300px;
  flex: 0 0 calc(33.33% - 20px);
}
.leaguestats{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 500px;
  min-width: 350px;
}
.cupstats {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 500px;
  min-width: 350px;
}
.libstats {
  background-color: black;
  color: var(--primary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 500px;
  min-width: 350px;
}
.leagues {
  background-color: var(--tertriary-color);
  color: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 500;
  min-width: 250;
}
.leagues h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--secondary-color);
}
.leagues p {
  margin: 5px 0;
  font-size: 16px;
  color: var(--secondary-color);
}

.Continental {
  background-color: black;
  color: #D4AF37;;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 700;
  min-width: 400;
}
.Continental h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #D4AF37;;
}
.Continental p {
  margin: 5px 0;
  font-size: 16px;
  color: #D4AF37;
}
.cups {
  background-color: var(--tertriary-color);
  color: var(--primary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 700;
  min-width: 400;
}
.cups h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--primary-color);
}
.cups p {
  margin: 5px 0;
  font-size: 16px;
  color: var(--primary-color);
}
.leaguestats h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--secondary-color);
}
.leaguestats p {
  margin: 5px 0;
  font-size: 16px;
  color: var(--secondary-color);
}
.cupstats h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--primary-color);
}
.cupstats p {
  margin: 5px 0;
  font-size: 16px;
  color: var(--primary-color);
}
.libstats h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--primary-color);
}
.libstats p {
  margin: 5px 0;
  font-size: 16px;
  color: var(--primary-color);
}

.player-profile2 {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 300px;
  min-width: 300px;
  flex: 0 0 calc(33.33% - 20px);
}

.player-profile h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--secondary-color);
  
}
.player-profile2 h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--primary-color);
}

.player-profile p {
  margin: 5px 0;
  font-size: 16px;
  color: var(--secondary-color);
}
.player-profile2 p {
  margin: 5px 0;
  font-size: 16px;
  color: var(--primary-color);
}
.league-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.league-table th,
.league-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.league-table th {
  background-color: var(--tertriary-color);
}

.league-table tbody tr:nth-child(even) {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.libertadoresHead {
  color: #D4AF37; /* Gold */
  font-size:32px;
  text-align: center;
}
.libertadores-table {
  width: 100%;
  border-collapse: collapse;
  background-color: black;
  color: #D4AF37;
}

.libertadores-table th,
.libertadores-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.libertadores-table th {
  background-color: #D4AF37;
  color: black;
}

.libertadores-table tbody tr:nth-child(even) {
  background-color: #D4AF37;
  color: black;
}

.tournament-bracket {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  min-height: 100px;
}

.round {
  display: flex;
  margin-bottom: 20px;
  min-height: 100px;
  flex-wrap: wrap;
  justify-content: center; /* Center matches horizontally */
}

.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin-right: 20px;
  min-height: 100px;
  margin: 0 10px; /* Add space between matches */
  
}

.team {
  background-color: black;
  color: #D4AF37;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  text-align: center;
  min-height: 50px;
}

.score {
  font-size: 18px;
  background-color: black;
  color: #D4AF37;
  text-align: center;
  width: 170px;
  margin: 0 5px;
  border: 1px solid #ccc;
}



label {
  font-weight: bold;
  margin-top: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 150px;
}

.submit-button {
  background-color: #2a71d0;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.success-message {
  color: green;
  margin-top: 1rem;
}

.stadium-page {
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./IMG_5808.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Adjust the opacity as needed */
  z-index: -1;
}
.background-image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("./IMG_5817.jpeg");
  
  opacity: 0.5; /* Adjust the opacity as needed */
  z-index: -1;
}


.award-section {
  flex: 0 0 calc(33.33% - 20px);  /* Flexbox properties to make each award section equal width */
  background-color: #f9f9f9;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  max-width: 400px;
  min-width: 250px;
  margin: 5px; /* Add margin to create space between sections */
  
}

.award-section h2 {
  color: var(--primary-color); /* Primary color for award section titles */
  margin-bottom: 10px;
}

.award-section p {
  margin: 5px;
  color: var(--tertriary-color);
}


.page-content3 {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  flex-wrap: wrap; 
  height: 100vh;
  padding-top: 20px;
}

.award-section img {
  max-width: 200px; 
  min-width: 200px;
  max-height: 150px; 
  margin-bottom: 10px;
  
}

.statement {
  flex: 1;
  color: var(--secondary-color); 
  margin: 10px; 
  text-align: center; 
  padding: 20px; 
}
.statement p {
  flex: 1; 
  color: var(--secondary-color); 
  margin: 10px; 
  text-align: center; 
  padding: 20px; 
}

@media screen and (max-width: 768px) {
  .page-content {
    justify-content: flex-start;
    padding-left: 30px; 
  }

  .award-section {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.mainVid {
  width: 100vw;
  max-width: 100%; /* Ensure the video doesn't exceed the viewport width */
  height: 100%;
  position: relative;
  background-color: var(--secondary-color);
}


.text-overlay {
  position: absolute;
  top: 50%; /* Adjust this value to lower the element */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}


/*  NewsPage CSS */
.news-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff; 
  color: var(--secondary-color); 
}


.news-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 80%;
}


.news-item {
  margin-bottom: 10px;
}




.news-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color); 
  text-align: center;
}

.news-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.news-article-container {
  background-color: var(--secondary-color); 
  color: var(--primary-color); 
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.news-link {
  text-decoration: none;
  font-size: 18px;
  color: var(--primary-color); 
}

.news-link:hover {
  background-color: var(--tertriary-color); 
}
 /*News Article css*/

.news-article {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.news-article h1 {
  font-size: 24px;
  color: #007fff; 
  margin-bottom: 10px;
  text-align: center;
}

.news-article-details {
  margin-bottom: 10px;
}

.news-article-date {
  font-size: 14px;
  color: #c0c0c0; 
  text-align: center;
}

.news-article-content {
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
}
